doctype html 
html(rang="ko")
    include partials/head.pug
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        include partials/header.pug
    include partials/footer.pug

    